<?xml version="1.0"?>

<launch>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="$(find drone_gazebo)/worlds/warehouse.world"/>
  <arg name="gui" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/>

  <include file="$(find drone_gazebo)/launch/drone_gazebo.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="world" value="$(arg world)"/>
  </include>

  <!-- Load an octomap in rviz -->
  <arg name="map" default="$(find drone_gazebo)/maps/warehouse.ot"/>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" args="$(arg map)">
    <param name="frame_id" value="map" />
  </node>

  <!-- Provide odometry from cmd_vel topic -->
  <node name="produce_odom" type="produce_odom" pkg="drone_3d_nav" output="screen"/>

  <!-- Particle filter node - MCL for octomap -->
  <include file="$(find particle_filter)/launch/particle_filter.launch"/>

  <!-- Path planning -->
  <include file="$(find path_planning)/launch/path_planning.launch"/>

  <!-- Navigator -->
  <node name="navigate" type="navigate" pkg="drone_3d_nav" output="screen" />

  <!-- Create paths from amcl pose and ground_truth state -->
  <node name="path_visualizer" type="path_visualizer.py" pkg="drone_3d_nav" />

  <!-- VISUALIZATION -->
  <!-- Launch Rviz with pre loaded configuration-->
   <node name="rviz" type="rviz" pkg="rviz" args="-d $(find drone_3d_nav)/navigation.rviz" />

</launch>
