#!/usr/bin/env python
PACKAGE = "drone_3d_nav"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# x
gen.add("x_kp", double_t, 0, "Kp parameter for x", 0.6,  0, 10)
gen.add("x_ki", double_t, 0, "Ki parameter for x", 0,  0, 10)
gen.add("x_kd", double_t, 0, "Kd parameter for x", 0.005,  0, 10)

# y
gen.add("y_kp", double_t, 0, "Kp parameter for y", 0.6,  0, 10)
gen.add("y_ki", double_t, 0, "Ki parameter for y", 0,  0, 10)
gen.add("y_kd", double_t, 0, "Kd parameter for y", 0.005,  0, 10)

# z
gen.add("z_kp", double_t, 0, "Kp parameter for z", 0.35,  0, 10)
gen.add("z_ki", double_t, 0, "Ki parameter for z", 0,  0, 10)
gen.add("z_kd", double_t, 0, "Kd parameter for z", 0.05,  0, 10)

# attitude / yaw
gen.add("attitude_kp", double_t, 0, "Kp parameter for attitude", 2.0,  0, 10)
gen.add("attitude_ki", double_t, 0, "Ki parameter for attitude", 0,  0, 10)
gen.add("attitude_kd", double_t, 0, "Kd parameter for attitude", 0.01,  0, 10)

# tolerance
gen.add("xy_tolerance", double_t, 0, "Tolerance for xy (in metres)", 0.2, 0, 1)
gen.add("z_tolerance", double_t, 0, "Tolerance for z (in metres)", 0.15,  0, 1)
gen.add("yaw_tolerance", double_t, 0, "Tolerance for yaw (in rad)", 0.174533,  0, 1) # 10 degrees

gen.add("xy_max_speed", double_t, 0, "Max speed in translation (m/sec)", 0.15,  0.1, 15)
gen.add("z_max_speed", double_t, 0, "Max speed in translation (m/sec)", 0.75,  0.1, 15)
gen.add("rot_max_speed", double_t, 0, "Max speed in rotation (in rad/sec)", 1.2,  0.1, 15)

exit(gen.generate(PACKAGE, "drone_3d_nav", "pid"))
