<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="rviz" default="false"/>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="grannie"/>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	  <arg name="world_file" value="/home/kosmastsk/catkin_ws/src/2D_amcl/worlds/$(arg world).world"/>
  </include>

  <!-- Launch the SLAM node, RTAB MAP ros package needed -->
  <include file="$(find rtabmap_ros)/launch/demo/demo_turtlebot_mapping.launch">
    <arg name="simulation" value="true"/>
    <arg name="rtabmapviz" value="true" unless="$(arg rviz)"/>
  </include>

  <!-- Teleoperate the turtlebot using the keyboard -->
  <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" />

  <!-- rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find rtabmap_ros)/launch/config/turtlebot_navigation.rviz"/>

</launch>
