<?xml version="1.0"?>

<launch>

 <!-- Gazebo world -->
  <arg name="world" default="$(find drone)/../experiments/worlds/corridor.world"/>
  <!-- Octomap file -->
  <arg name="map" default="$(find drone)/../experiments/maps/corridor.ot"/>

  <!-- Parameters -->
  <rosparam command="load" file="$(find drone_coverage)/params/sensor_config.yaml" />

  <include file="$(find drone_3d_nav)/launch/drone_3d_nav.launch">
    <arg name="map" value="$(arg map)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  <node name="online_coverage_node" type="online_coverage_node" pkg="drone_coverage"/>

  <!-- Node that transforms the data from /coverage/waypoints to the /clicked_point that path planning requires -->
  <node name="waypoint_publisher" type="waypoint_publisher" pkg="drone_coverage" output="screen"/>

</launch>
