<?xml version="1.0"?>

<launch>

  <!-- Octomap file -->
  <arg name="map" default="$(find drone_gazebo)/maps/warehouse.ot"/>

  <!-- ROSbag with coverage waypoints -->
  <arg name="rosbag_provided" default="true"/>
  <arg name="path" default="$(find drone_coverage)" />
  <arg name="file_1" default="waypoints" />

  <!-- Parameters -->
  <rosparam command="load" file="$(find drone_coverage)/params/sensor_config.yaml" />
  <rosparam command="load" file="$(find drone_coverage)/params/hill_climbing_config.yaml" />

  <include file="$(find drone_3d_nav)/launch/drone_3d_nav.launch">
    <arg name="map" value="$(arg map)" />
  </include>

  <node name="online_coverage_node" type="online_coverage_node" pkg="drone_coverage"/>

  <!-- Coverage waypoints -->
  <node unless="$(arg rosbag_provided)" name="drone_coverage_node" type="drone_coverage" pkg="drone_coverage" output="screen"/>
  <!-- OR provide a ROSbag with the waypoints-->
  <node if="$(arg rosbag_provided)" pkg="rosbag" type="play" name="player" output="screen" args="$(arg path)/$(arg file_1).bag"/>

</launch>
