<?xml version="1.0"?>

<launch>

  <rosparam command="load" file="$(find drone_coverage)/params/config.yaml" />

  <!-- Load an octomap in rviz -->
  <arg name="octomap" default="$(find drone)/../experiments/maps/corridor.ot"/>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" args="$(arg octomap)">
    <param name="frame_id" value="map" />
    <param name="occupancy_min_z" value="0.05"/>
    <param name="occupancy_max_z" value="2"/>
  </node>

  <node name="drone_coverage_node" type="drone_coverage" pkg="drone_coverage" output="screen"/>

  <!-- VISUALIZATION -->
  <!-- Launch Rviz with pre loaded configuration-->
   <node name="rviz" type="rviz" pkg="rviz" args="-d $(find drone_coverage)/navigation.rviz" />

</launch>
