<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="grannie"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <param name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find drone_gazebo)/worlds/$(arg world).world"/>
  </include>

  <!-- Load a map in rviz -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find drone_gazebo)/maps/$(arg world).yaml"/>

    <!-- Spawn simulated quadrotor uav -->
  <include file="$(find drone_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find drone_description)/urdf/italdron_evo4hse.gazebo.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Teleoperate the drone using the keyboard -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" />

  <!-- Move base -->
  <include file="$(find custom_navigation)/launch/includes/move_base.launch.xml"/>

  <!-- Launch Rviz with pre loaded configuration-->
  <node name="rviz" type="rviz" pkg="rviz" args="-d /home/kosmastsk/.rviz/navigation.rviz" />
</launch>

