<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- rosservice call /enable_motors "enable: true" must have been called already -->

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="$(find drone_gazebo)/worlds/warehouse.world"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="world_name" value="$(arg world)"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find drone_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find drone_description)/urdf/italdron_evo4hse.urdf"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Teleoperate the drone using the keyboard -->
  <node pkg="drone_gazebo" type="teleop" name="teleop" output="screen" />

  <!-- SENSORS -->
  <!-- Convert the teraranger tower ranges from 8 topics to 1 -->
  <node pkg="teraranger_array_converter" type="gazebo_to_range_array.py" name="gazebo_to_range_array" output="screen" />

  <!-- Convert from /ranges to /scan, in LaserScan message type, to be easily handled by amcl -->
  <node pkg="teraranger_array_converter" type="teraranger_array_converter.py" name="teraranger_array_converter" output="screen">
    <param name="converter_mode" value="laser_scan"/>
    <param name="sensor_mask" value="[true,true,true,true,true,true,true,true]"/>
    <!--<param name="conversion_frame" value="base"/>-->
    <param name="force_tf_refresh" value="False"/>
  </node>

  <!-- Height estimation node -->
  <!-- Use this to estimate the current height of the UAV -->
  <node name="estimator" type="estimator" pkg="drone_gazebo" />

</launch>
