<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="use_sim_time" value="false"/>
  <arg name="height" default="2"/>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="warehouse"/>
  <arg name="gui" value="false"/>
  <arg name="verbose" value="true"/>
  <arg name="paused" value="false"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="world_name" value="$(find drone_gazebo)/worlds/$(arg world).world"/>
  </include>

  <!-- Load a map in rviz -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find drone_gazebo)/maps/$(arg world).yaml">
    <param name="frame_id" value="map" />
  </node>

    <!-- Spawn simulated quadrotor uav -->
  <include file="$(find drone_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find drone_description)/urdf/italdron_evo4hse.gazebo.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Height estimation node -->
  <node name="estimator" type="estimator" pkg="height_estimation" />

  <!-- Provide odometry from cmd_vel topic -->
  <node name="vel_to_odom" type="vel_to_odom" pkg="drone_gazebo" output="screen"/>

  <!-- Convert the teraranger tower ranges from 8 topics to 1 -->
  <node pkg="teraranger_array_converter" type="gazebo_to_range_array.py" name="gazebo_to_range_array" output="screen" />

  <!-- Convert from /ranges to /scan, in LaserScan message type, to be easily handled by amcl -->
  <node pkg="teraranger_array_converter" type="teraranger_array_converter.py" name="teraranger_array_converter" output="screen">
    <param name="converter_mode" value="laser_scan"/>
    <param name="sensor_mask" value="[true,true,true,true,true,true,true,true]"/>
    <!--<param name="conversion_frame" value="base"/>-->
    <param name="force_tf_refresh" value="False"/>
  </node>

  <!-- Teleoperate the drone using the keyboard -->
  <!--<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" />-->

  <!-- Run 2D AMCL node -->
  <include file="$(find drone_gazebo)/launch/amcl.launch"/>

  <!-- Move base -->
  <include file="$(find custom_navigation_drone)/launch/includes/move_base.launch.xml"/>

  <!-- Control drone -->
  <node pkg="drone_gazebo" type="control" name="control" args="$(arg height)"/>

  <!-- Launch Rviz with pre loaded configuration-->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find custom_navigation_drone)/navigation.rviz" />
</launch>
