<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- rosservice call /enable_motors "enable: true" must have been called already -->

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="$(find drone_gazebo)/worlds/warehouse.world"/>
  <arg name="gui" value="true"/>
  <arg name="verbose" value="true"/>
  <arg name="paused" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="world_name" value="$(arg world)"/>
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find drone_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find drone_description)/urdf/italdron_evo4hse.urdf"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Height estimation node -->
  <!-- Use this to estimate the current height of the UAV -->
  <node name="estimator" type="estimator" pkg="drone_gazebo" />

  <!-- Teleoperate the drone using the keyboard -->
  <node pkg="drone_gazebo" type="teleop" name="teleop" output="screen" />

</launch>
