<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="use_sim_time" value="true"/>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="$(find drone_gazebo)/worlds/home.world "/>
  <arg name="gui" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="paused" default="false"/>

  <arg name="map" default="$(find drone_gazebo)/maps/home.yaml "/>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
  </include>

  <!-- Load a map in rviz -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map)"/>

  <!-- Run 2D AMCL node -->
  <include file="$(find amcl_2d_turtlebot)/launch/amcl.launch"/>

  <!-- Move base -->
  <include file="$(find amcl_2d_turtlebot)/launch/includes/move_base.launch.xml"/>

  <!-- Launch Rviz with pre loaded configuration-->
  <node name="rviz" type="rviz" pkg="rviz" args="-d /home/kosmastsk/.rviz/navigation.rviz" />

</launch>
