<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="use_sim_time" value="true"/>

  <!-- Launch the gazebo simulator -->
  <!-- Make the world name a parameter to load from terminal -->
  <arg name="world" default="grannie"/>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find drone_gazebo)/worlds/$(arg world).world"/>
  </include>

  <!-- Load a map in rviz -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find amcl_2d_turtlebot)/maps/$(arg world).yaml"/>

  <!-- Run 2D AMCL node -->
  <include file="$(find amcl_2d_turtlebot)/launch/amcl.launch"/>

  <!-- Move base -->
  <include file="$(find custom_navigation)/launch/includes/move_base.launch.xml"/>

  <!-- Launch Rviz with pre loaded configuration-->
  <node name="rviz" type="rviz" pkg="rviz" args="-d /home/kosmastsk/.rviz/navigation.rviz" />

</launch>
